@{
    ViewBag.Title = "Acerca de ...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Desafío 3 - MVC</h2>
<p>Consiste en realizar la Web Api del Desafío 3 - APi, pero en formato MVC.</p>
