@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Uruguay<br />
    Montevideo<br />
    <abbr title="Phone">P:</abbr>
    xxx.xxx.xxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:warriol@gmail.com">Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:warriol@gmail.com">Marketing</a>
</address>