@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Controlador Multimedia</h1>
    <p class="lead">Una aplicación Web Simple, en MVC, como ejercicio del Curso C# grtis que dicta <a href="https://twitter.com/intent/user?user_id=50433718">Juan C. Ruiz</a> en <a href="https://platzi.com/">Platzi</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Desafío 3.1 - Web API</h2>
        <p>
            Crear un Api REST capaz de guardar Videos e Imagenes según el modelo definido en el texto del ejercicio.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Desafío 3.2 - Web MVC</h2>
        <p>Crar, en base al modelo del ejercicio anterior, el mismo modelo pero esta vez en un aplicación MVC.</p>
    </div>
    <div class="col-md-4">
        <h2>Desafío 3.3 - Consola</h2>
        <p>En base a los anteriores, realizar una aplicación de Consola, que liste imagenes y videos.</p>
    </div>
</div>